## Ejercicio 1

Crea una función llamada ejercicio1, que recibe la ruta donde se encuentra un dataset y devuelve una DataFrame con los datos que hay en el dataset. Para comprobar esta función utiliza el dataset `titanic.csv` que se incluye en esta actividad.

In [1]:
import pandas as pd

def ejercicio1(df):
     return pd.read_csv('titanic.csv')

## Ejercicio 2

Crea otra función llamada ejercicio2. Esta función recibe un único argumento que es un dataframe. En concreto debe recibir el dataframe que se ha obtenido de leer el dataset `titanic.csv`. Esta función devolverá otro dataset que incluya únicamente a los pasajeros menores de 35 años y que viajaban en 3ª clase.

In [ ]:
import pandas as pd


def ejercicio2(df):
     return df[(df.Age < 35) & (df.Pclass==3)]

## Ejercicio 3

Crea una función llamada ejercicio3, que recibiendo como argumento el dataframe del dataset `titanic.csv`, calcule el porcentaje de persona que sobrevieron. Redondee el resultado al segundo decimal.

In [ ]:
import pandas as pd

def ejercicio3(df):
    return round(df['Survived'].mean()*100,2)

## Ejercicio 4

Implementa una función llamada ejercicio4 que recibiendo el dataframe con los datos del Titanic, devuelva en una tupla el porcentaje de hombres y mujeres que viajaban en el Titanic, redondeados al segundo decimal.

In [2]:
import pandas as pd

def ejercicio4(df):
    total = df['Sex'].count()
    return (round(df[df['Sex']=="male"]["Sex"].count()*100.0/total,2),round(df[df['Sex']=="female"]["Sex"].count()*100.0/total,2))

## Ejercicio 5


Implementa una función llamada ejercicio5 que recibiendo el dataframe con los datos del Titanic, devuelva en una lista el número de pasajeros que viajaban en 1ª, 2ª y 3ª clase.

In [ ]:
import pandas as pd

def ejercicio5(df):
    return [df[df['Pclass']==1]["Pclass"].count(),df[df['Pclass']==2]["Pclass"].count(),df[df['Pclass']==3]["Pclass"].count()]